<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item" style="margin-left:2vh;">
          
            <img src="./assets/images/profile-user.png" alt=""class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          
          
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" ><img style='height: 3vh;'src="./assets/images/user.png" alt="">&nbsp; {{Username}}</a></li>
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="logout()"><img style='height: 3vh;'src="./assets/images/logout.png" alt="">&nbsp; Logout</a></li>
          </ul>
        </li>
      </ul>
    
    </div>
</nav>
<!-- ----------------------------- commented out- Dont -->


<!-- <!DOCTYPE html> -->

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  
  <body>
    <div class="container-fluid">
    <!-- <title>Hotel Reservation Form</title> -->
    <div class="testbox">
    <form class="form-floating" ngNativeValidate>
      <div class="banner">
        <h1>Heart Disease Prediction</h1>
      </div>
      <br/>
      <fieldset>
        <legend>User Heart Details</legend>
        <div class="columns">
          <div class="item">
            <!-- <label for="fname">First Name<span>*</span></label>
            <input id="fname" type="text" name="fname" /> -->
            <label for="Age" class="form-label" style="font-weight: bold"
            >Age <span class="mandatory-asterisk">*</span>
          </label>
          <input
            type="number"
            step="any"
            name="age"
            class="form-control"
            id="Age"
            placeholder="Age"
            [(ngModel)]="form.age"
            required
            min="18"
            max="100"
          />
          </div>
          <div class="item">
            <!-- <label for="lname"> Last Name<span>*</span></label>
            <input id="lname" type="text" name="lname" /> -->
            <label for="trestbps" class="form-label" style="font-weight: bold"
            >Resting Blood Pressure <span class="mandatory-asterisk">* </span>
            <img
              class="img-fluid"
              src="./assets/images/info.png"
              alt="i tag"
              matTooltipPosition="right"
              matTooltipHideDelay="1000"
              [matTooltip]="infomessage.trestbps"
            />
          </label>
          <input
            type="number"
            step="any"
            name="trestbps"
            class="form-control"
            id="trestbps"
            placeholder="RestBp (mm Hg)"
            [(ngModel)]="form.trestbps"
            required
            min="80"
            max="220"
          />
          </div>
          <div class="item">
            <!-- <label for="address">Address<span>*</span></label>
            <input id="address" type="text"   name="address" /> -->
            <label for="chol" class="form-label" style="font-weight: bold"
            >Cholestoral <span class="mandatory-asterisk">*&nbsp;</span>
            <img
              class="img-fluid"
              src="./assets/images/info.png"
              alt="i tag"
              matTooltipPosition="right"
              matTooltipHideDelay="1000"
              [matTooltip]="infomessage.chol"
            />
          </label>
          <input
            type="number"
            step="any"
            name="chol"
            class="form-control"
            id="chol"
            placeholder="Cholestoral (mm/dl)"
            [(ngModel)]="form.chol"
            required
            min="100"
            max="800"
          />
          </div>
          <div class="item">
            <!-- <label for="zip">Zip Code<span>*</span></label>
            <input id="zip" type="text"   name="zip" required/> -->
            <label for="thalach" class="form-label" style="font-weight: bold"
            >Maximum Heart Rate <span class="mandatory-asterisk">* &nbsp;</span>
            <img
              class="img-fluid"
              src="./assets/images/info.png"
              alt="i tag"
              matTooltipPosition="right"
              matTooltipHideDelay="1000"
              [matTooltip]="infomessage.thalach"
            />
          </label>
          <input
            type="number"
            step="any"
            name="thalach"
            class="form-control"
            id="thalach"
            placeholder="maximum heart rate (bpm)"
            [(ngModel)]="form.thalach"
            required
            min="50"
            max="250"
          />
          </div>
          <div class="item">
            <!-- <label for="city">City<span>*</span></label>
            <input id="city" type="text"   name="city" /> -->
            <label for="oldpeak" class="form-label" style="font-weight: bold"
            >Cardiac Stress Test
            <span class="mandatory-asterisk">* &nbsp;</span>
            <img
              class="img-fluid"
              src="./assets/images/info.png"
              alt="i tag"
              matTooltipPosition="right"
              matTooltipHideDelay="1000"
              [matTooltip]="infomessage.oldpeak"
            />
          </label>
          <input
            type="number"
            step="any"
            name="oldpeak"
            class="form-control"
            id="oldpeak"
            placeholder="Cardiac stress test"
            [(ngModel)]="form.oldpeak"
            required
            min="-30"
            max="30"
          />
          </div>
          <div class="item">
            <!-- <label for="state">State<span>*</span></label>
            <input id="state" type="text"   name="state" /> -->
            <div class="mb-2">
              <label style="font-weight: bold"
                >Gender <span class="mandatory-asterisk">*</span></label
              >
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="Gender"
                id="Male"
                value="Male"
                [(ngModel)]="form.sex"
                required
              />&nbsp;
              <label class="form-check-label" for="Male"> Male </label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="Gender"
                id="Female"
                value="Female"
                [(ngModel)]="form.sex"
                required
              />&nbsp;
              <label class="form-check-label" for="Female"> Female </label>
            </div>
          </div>
          <div class="item">
            <!-- <label for="eaddress">Email Address<span>*</span></label>
            <input id="eaddress" type="text"   name="eaddress" /> -->
            <div class="mb-2">
              <label style="font-weight: bold"
                >Fasting Blood Sugar(more than 120 mg/dl)
                <span class="mandatory-asterisk">*&nbsp;</span>
                <img
                  class="img-fluid"
                  src="./assets/images/info.png"
                  alt="i tag"
                  matTooltipPosition="right"
                  matTooltipHideDelay="1000"
                  [matTooltip]="infomessage.fbs"
                />
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="fbs"
                id="Yes"
                value="Yes"
                [(ngModel)]="form.fbs"
                required
              />&nbsp;
              <label class="form-check-label" for="Yes"> Yes </label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="fbs"
                id="No"
                value="No"
                [(ngModel)]="form.fbs"
                required
              />&nbsp;
              <label class="form-check-label" for="No"> No </label>
            </div>
          </div>
          <div class="item">
            <!-- <label for="phone">Phone<span>*</span></label>
            <input id="phone" type="tel"   name="phone" /> -->
            <div class="mb-2">
              <label style="font-weight: bold"
                >Exercise Induced Angina
                <span class="mandatory-asterisk">*&nbsp;</span>
                <img
                  class="img-fluid"
                  src="./assets/images/info.png"
                  alt="i tag"
                  matTooltipPosition="right"
                  matTooltipHideDelay="1000"
                  [matTooltip]="infomessage.exang"
                />
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="exang"
                id="exangYes"
                value="Yes"
                [(ngModel)]="form.exang"
                required
              />&nbsp;
              <label class="form-check-label" for="exangYes"> Yes </label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="exang"
                id="exangNo"
                value="No"
                [(ngModel)]="form.exang"
                required
              />&nbsp;
              <label class="form-check-label" for="exangNo"> No </label>
            </div>
            
          </div>
           <div class="item">
            <!-- <label for="phone">Phone<span>*</span></label>
            <input id="phone" type="tel"   name="phone" /> -->
            <div class="mb-2">
              <label style="font-weight: bold"
                >Chest Pain <span class="mandatory-asterisk">* &nbsp;</span>
                <img
                  class="img-fluid"
                  src="./assets/images/info.png"
                  alt="i tag"
                  matTooltipPosition="right"
                  matTooltipHideDelay="1000"
                  [matTooltip]="infomessage.cp"
                />
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="cp"
                id="ta"
                value="Typical Angina"
                [(ngModel)]="form.cp"
                required
              />&nbsp;
              <label class="form-check-label" for="ta"> Typical Angina </label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="cp"
                id="aa"
                value="Atypical Angina"
                [(ngModel)]="form.cp"
                required
              />&nbsp;
              <label class="form-check-label" for="aa"> Atypical Angina </label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="cp"
                id="np"
                value="Non-anginal pain"
                [(ngModel)]="form.cp"
                required
              />&nbsp;
              <label class="form-check-label" for="np"> Non-anginal pain </label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="cp"
                id="as"
                value="Asymptomatic"
                [(ngModel)]="form.cp"
                required
              />&nbsp;
              <label class="form-check-label" for="as"> Asymptomatic </label>
            </div>
            
          </div>
          <div class="item">
            <!-- <label for="phone">Phone<span>*</span></label>
            <input id="phone" type="tel"   name="phone" /> -->
            <div class="mb-2">
              <label style="font-weight: bold"
                >Resting ECG
                <span class="mandatory-asterisk">* &nbsp;</span>
                <img
                  class="img-fluid"
                  src="./assets/images/info.png"
                  alt="i tag"
                  matTooltipPosition="right"
                  matTooltipHideDelay="1000"
                  [matTooltip]="infomessage.restecg"
                />
              </label>
            </div>
            <div class="form-check" style="width:100%">
              <input
                class="form-check-input"
                type="radio"
                name="restecg"
                id="normal"
                value="Normal"
                [(ngModel)]="form.restecg"
                required
              />&nbsp;
              <label class="form-check-label" for="normal"> Normal </label>
            </div>
            <div class="form-check" style="width:100%">
              <input
                class="form-check-input"
                type="radio"
                name="restecg"
                id="hwa"
                value="Having ST-T Wave Abnormality"
                [(ngModel)]="form.restecg"
                required
              />&nbsp;
              <label class="form-check-label" for="hwa">
                Having ST-T Wave Abnormality
              </label>
            </div>
            <div class="form-check" style="width:100%">
              <input
                class="form-check-input"
                type="radio"
                name="restecg"
                id="sp"
                value="Showing probable or Definite left ventricular hypertrophy"
                [(ngModel)]="form.restecg"
                required
              />&nbsp;
              <label class="form-check-label" for="sp">
                Showing probable or Definite left ventricular hypertrophy
              </label>
            </div>
            
          </div>
          <div class="item">
            <!-- <label for="phone">Phone<span>*</span></label>
            <input id="phone" type="tel"   name="phone" /> -->
            <div class="mb-2">
              <label style="font-weight: bold"
                >Slope <span class="mandatory-asterisk">*&nbsp;</span>
                <img
                  class="img-fluid"
                  src="./assets/images/info.png"
                  alt="i tag"
                  matTooltipPosition="right"
                  matTooltipHideDelay="1000"
                  [matTooltip]="infomessage.Slope"
                />
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="Slope"
                id="Upsloping"
                value="Upsloping"
                [(ngModel)]="form.Slope"
                required
              />&nbsp;
              <label class="form-check-label" for="Upsloping"> Upsloping </label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="Slope"
                id="flat"
                value="Flat"
                [(ngModel)]="form.Slope"
                required
              />&nbsp;
              <label class="form-check-label" for="flat"> Flat </label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="Slope"
                id="downsloping"
                value="Downsloping"
                [(ngModel)]="form.Slope"
                required
              />&nbsp;
              <label class="form-check-label" for="downsloping">
                Downsloping
              </label>
            </div>
          </div>
          <div class="item">
            <!-- <label for="phone">Phone<span>*</span></label>
            <input id="phone" type="tel"   name="phone" /> -->
            <div class="mb-2" style="width:100%">
              <label style="font-weight: bold"
                >Number of Major Vessels Colored by Flourosopy
                <span class="mandatory-asterisk">*&nbsp;</span>
                <img
                  class="img-fluid"
                  src="./assets/images/info.png"
                  alt="i tag"
                  matTooltipPosition="right"
                  matTooltipHideDelay="1000"
                  [matTooltip]="infomessage.ca"
                />
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="ca"
                id="zero"
                value="Zero"
                [(ngModel)]="form.ca"
                required
              />&nbsp;
              <label class="form-check-label" for="zero"> Zero </label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="ca"
                id="one"
                value="One"
                [(ngModel)]="form.ca"
                required
              />&nbsp;
              <label class="form-check-label" for="one"> One </label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="ca"
                id="two"
                value="Two"
                [(ngModel)]="form.ca"
                required
              />&nbsp;
              <label class="form-check-label" for="two"> Two </label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="ca"
                id="three"
                value="Three"
                [(ngModel)]="form.ca"
                required
              />&nbsp;
              <label class="form-check-label" for="three"> Three </label>
            </div>
            
          </div>
          <div class="item">
            <!-- <label for="phone">Phone<span>*</span></label>
            <input id="phone" type="tel"   name="phone" /> -->
            <div class="mb-2">
              <label style="font-weight: bold"
                >Exercise thallium scintigraphic defects
                <span class="mandatory-asterisk">*&nbsp;</span>
                <img
                  class="img-fluid"
                  src="./assets/images/info.png"
                  alt="i tag"
                  matTooltipPosition="right"
                  matTooltipHideDelay="1000"
                  [matTooltip]="infomessage.thal"
                />
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="thal"
                id="normal"
                value="Normal"
                [(ngModel)]="form.thal"
                required
              />&nbsp;
              <label class="form-check-label" for="normal"> Normal </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="thal"
                id="fixed"
                value="Fixed defect"
                [(ngModel)]="form.thal"
                required
              />&nbsp;
              <label class="form-check-label" for="fixed"> Fixed defect </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="thal"
                id="reversible"
                value="Reversible defect"
                [(ngModel)]="form.thal"
                required
              />&nbsp;
              <label class="form-check-label" for="reversible">
                Reversible defect
              </label>
            </div>
            
          </div>
          <!-- <div class="item">
            <label for="phone">Phone<span>*</span></label>
            <input id="phone" type="tel"   name="phone" />
            
          </div> -->
          </div>
      </fieldset>
      <br/>
      
      <div class="btn-block">
        <button class="btn btn-primary" type="submit" (click)="onclick()">
          Predict
        </button>
      </div>
    </form>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <app-chatbot></app-chatbot>
        </div>
      </div>
    </div>
    </div>
  </body>

  <!-- <div class="container-fluid">

<div class="card mx-auto col-12 col-md-6 col-lg-6">
  <div class="card-header">
    <h2
      style="
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      "
    >
      HEART DISEASE PREDICTOR
    </h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <app-chatbot></app-chatbot>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card-body">
      <form class="form-floating" ngNativeValidate>
        <div class="mb-2 col-lg-6 mx-auto">
          <label for="Age" class="form-label" style="font-weight: bold"
            >Age <span class="mandatory-asterisk">*</span>
          </label>
          <input
            type="number"
            step="any"
            name="age"
            class="form-control"
            id="Age"
            placeholder="Age"
            [(ngModel)]="form.age"
            required
            min="18"
            max="100"
          />
        </div>
        <div class="mb-2 col-lg-6 mx-auto">
          <label for="trestbps" class="form-label" style="font-weight: bold"
            >Resting Blood Pressure <span class="mandatory-asterisk">* </span>
            <img
              class="img-fluid"
              src="./assets/images/info.png"
              alt="i tag"
              matTooltipPosition="right"
              matTooltipHideDelay="1000"
              [matTooltip]="infomessage.trestbps"
            />
          </label>
          <input
            type="number"
            step="any"
            name="trestbps"
            class="form-control"
            id="trestbps"
            placeholder="RestBp (mm Hg)"
            [(ngModel)]="form.trestbps"
            required
            min="80"
            max="220"
          />
        </div>
        <div class="mb-2 col-lg-6 mx-auto">
          <label for="chol" class="form-label" style="font-weight: bold"
            >Cholestoral <span class="mandatory-asterisk">*&nbsp;</span>
            <img
              class="img-fluid"
              src="./assets/images/info.png"
              alt="i tag"
              matTooltipPosition="right"
              matTooltipHideDelay="1000"
              [matTooltip]="infomessage.chol"
            />
          </label>
          <input
            type="number"
            step="any"
            name="chol"
            class="form-control"
            id="chol"
            placeholder="Cholestoral (mm/dl)"
            [(ngModel)]="form.chol"
            required
            min="100"
            max="800"
          />
        </div>
        <div class="mb-2 col-lg-6 mx-auto">
          <label for="thalach" class="form-label" style="font-weight: bold"
            >Maximum Heart Rate <span class="mandatory-asterisk">* &nbsp;</span>
            <img
              class="img-fluid"
              src="./assets/images/info.png"
              alt="i tag"
              matTooltipPosition="right"
              matTooltipHideDelay="1000"
              [matTooltip]="infomessage.thalach"
            />
          </label>
          <input
            type="number"
            step="any"
            name="thalach"
            class="form-control"
            id="thalach"
            placeholder="maximum heart rate (bpm)"
            [(ngModel)]="form.thalach"
            required
            min="50"
            max="250"
          />
        </div>
        <div class="mb-2 col-lg-6 mx-auto">
          <label for="oldpeak" class="form-label" style="font-weight: bold"
            >Cardiac Stress Test
            <span class="mandatory-asterisk">* &nbsp;</span>
            <img
              class="img-fluid"
              src="./assets/images/info.png"
              alt="i tag"
              matTooltipPosition="right"
              matTooltipHideDelay="1000"
              [matTooltip]="infomessage.oldpeak"
            />
          </label>
          <input
            type="number"
            step="any"
            name="oldpeak"
            class="form-control"
            id="oldpeak"
            placeholder="Cardiac stress test"
            [(ngModel)]="form.oldpeak"
            required
            min="-30"
            max="30"
          />
        </div>
        <div class="mb-2 col-lg-6 mx-auto">
          <div class="mb-2">
            <label style="font-weight: bold"
              >Gender <span class="mandatory-asterisk">*</span></label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="Gender"
              id="Male"
              value="Male"
              [(ngModel)]="form.sex"
              required
            />
            <label class="form-check-label" for="Male"> Male </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="Gender"
              id="Female"
              value="Female"
              [(ngModel)]="form.sex"
              required
            />
            <label class="form-check-label" for="Female"> Female </label>
          </div>
        </div>
        <div class="mb-2 col-lg-6 mx-auto">
          <div class="mb-2">
            <label style="font-weight: bold"
              >Chest Pain <span class="mandatory-asterisk">* &nbsp;</span>
              <img
                class="img-fluid"
                src="./assets/images/info.png"
                alt="i tag"
                matTooltipPosition="right"
                matTooltipHideDelay="1000"
                [matTooltip]="infomessage.cp"
              />
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="cp"
              id="ta"
              value="Typical Angina"
              [(ngModel)]="form.cp"
              required
            />
            <label class="form-check-label" for="ta"> Typical Angina </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="cp"
              id="aa"
              value="Atypical Angina"
              [(ngModel)]="form.cp"
              required
            />
            <label class="form-check-label" for="aa"> Atypical Angina </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="cp"
              id="np"
              value="Non-anginal pain"
              [(ngModel)]="form.cp"
              required
            />
            <label class="form-check-label" for="np"> Non-anginal pain </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="cp"
              id="as"
              value="Asymptomatic"
              [(ngModel)]="form.cp"
              required
            />
            <label class="form-check-label" for="as"> Asymptomatic </label>
          </div>
        </div>
        <div class="mb-2 col-lg-6 mx-auto">
          <div class="mb-2">
            <label style="font-weight: bold"
              >Fasting Blood Sugar(more than 120 mg/dl)
              <span class="mandatory-asterisk">*&nbsp;</span>
              <img
                class="img-fluid"
                src="./assets/images/info.png"
                alt="i tag"
                matTooltipPosition="right"
                matTooltipHideDelay="1000"
                [matTooltip]="infomessage.fbs"
              />
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="fbs"
              id="Yes"
              value="Yes"
              [(ngModel)]="form.fbs"
              required
            />
            <label class="form-check-label" for="Yes"> Yes </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="fbs"
              id="No"
              value="No"
              [(ngModel)]="form.fbs"
              required
            />
            <label class="form-check-label" for="No"> No </label>
          </div>
        </div>
        <div class="mb-2 col-lg-6 mx-auto">
          <div class="mb-2">
            <label style="font-weight: bold"
              >Resting electrocardiographic
              <span class="mandatory-asterisk">* &nbsp;</span>
              <img
                class="img-fluid"
                src="./assets/images/info.png"
                alt="i tag"
                matTooltipPosition="right"
                matTooltipHideDelay="1000"
                [matTooltip]="infomessage.restecg"
              />
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="restecg"
              id="normal"
              value="Normal"
              [(ngModel)]="form.restecg"
              required
            />
            <label class="form-check-label" for="normal"> Normal </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="restecg"
              id="hwa"
              value="Having ST-T Wave Abnormality"
              [(ngModel)]="form.restecg"
              required
            />
            <label class="form-check-label" for="hwa">
              Having ST-T Wave Abnormality
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="restecg"
              id="sp"
              value="Showing probable or Definite left ventricular hypertrophy"
              [(ngModel)]="form.restecg"
              required
            />
            <label class="form-check-label" for="sp">
              Showing probable or Definite left ventricular hypertrophy
            </label>
          </div>
        </div>
        <div class="mb-2 col-lg-6 mx-auto">
          <div class="mb-2">
            <label style="font-weight: bold"
              >Exercise Induced Angina
              <span class="mandatory-asterisk">*&nbsp;</span>
              <img
                class="img-fluid"
                src="./assets/images/info.png"
                alt="i tag"
                matTooltipPosition="right"
                matTooltipHideDelay="1000"
                [matTooltip]="infomessage.exang"
              />
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="exang"
              id="Yes"
              value="Yes"
              [(ngModel)]="form.exang"
              required
            />
            <label class="form-check-label" for="Yes"> Yes </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="exang"
              id="No"
              value="No"
              [(ngModel)]="form.exang"
              required
            />
            <label class="form-check-label" for="No"> No </label>
          </div>
        </div>
        <div class="mb-2 col-lg-6 mx-auto">
          <div class="mb-2">
            <label style="font-weight: bold"
              >Slope <span class="mandatory-asterisk">*&nbsp;</span>
              <img
                class="img-fluid"
                src="./assets/images/info.png"
                alt="i tag"
                matTooltipPosition="right"
                matTooltipHideDelay="1000"
                [matTooltip]="infomessage.Slope"
              />
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="Slope"
              id="Upsloping"
              value="Upsloping"
              [(ngModel)]="form.Slope"
              required
            />
            <label class="form-check-label" for="Upsloping"> Upsloping </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="Slope"
              id="flat"
              value="Flat"
              [(ngModel)]="form.Slope"
              required
            />
            <label class="form-check-label" for="flat"> Flat </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="Slope"
              id="downsloping"
              value="Downsloping"
              [(ngModel)]="form.Slope"
              required
            />
            <label class="form-check-label" for="downsloping">
              Downsloping
            </label>
          </div>
        </div>
        <div class="mb-2 col-lg-6 mx-auto">
          <div class="mb-2">
            <label style="font-weight: bold"
              >Number of Major Vessels Colored by Flourosopy
              <span class="mandatory-asterisk">*&nbsp;</span>
              <img
                class="img-fluid"
                src="./assets/images/info.png"
                alt="i tag"
                matTooltipPosition="right"
                matTooltipHideDelay="1000"
                [matTooltip]="infomessage.ca"
              />
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="ca"
              id="zero"
              value="Zero"
              [(ngModel)]="form.ca"
              required
            />
            <label class="form-check-label" for="zero"> Zero </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="ca"
              id="one"
              value="One"
              [(ngModel)]="form.ca"
              required
            />
            <label class="form-check-label" for="one"> One </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="ca"
              id="two"
              value="Two"
              [(ngModel)]="form.ca"
              required
            />
            <label class="form-check-label" for="two"> Two </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="ca"
              id="three"
              value="Three"
              [(ngModel)]="form.ca"
              required
            />
            <label class="form-check-label" for="three"> Three </label>
          </div>
        </div>
        <div class="mb-2 col-lg-6 mx-auto">
          <div class="mb-2">
            <label style="font-weight: bold"
              >Exercise thallium scintigraphic defects
              <span class="mandatory-asterisk">*&nbsp;</span>
              <img
                class="img-fluid"
                src="./assets/images/info.png"
                alt="i tag"
                matTooltipPosition="right"
                matTooltipHideDelay="1000"
                [matTooltip]="infomessage.thal"
              />
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="thal"
              id="normal"
              value="Normal"
              [(ngModel)]="form.thal"
              required
            />
            <label class="form-check-label" for="normal"> Normal </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="thal"
              id="fixed"
              value="Fixed defect"
              [(ngModel)]="form.thal"
              required
            />
            <label class="form-check-label" for="fixed"> Fixed defect </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="thal"
              id="reversible"
              value="Reversible defect"
              [(ngModel)]="form.thal"
              required
            />
            <label class="form-check-label" for="reversible">
              Reversible defect
            </label>
          </div>
        </div>
        <div class="mt-4 col-lg-6 mx-auto">
          <button class="btn btn-primary" type="submit" (click)="onclick()">
            Predict
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div> -->