<section class="heart-disease-detected">
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h1>Heart Disease Detected</h1>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="image-wrapper">
                <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg" alt="heart image">
              </div>
              <div id="map"></div>

            </div>
            <div class="col-md-6">
              <div class="health-tips-wrapper">
                <h2 class="subheading">Health Tips:</h2>
                <ul>
                  <li>Get regular exercise</li>
                  <li>Eat a heart-healthy diet</li>
                  <li>Quit smoking</li>
                  <li>Reduce stress</li>
                </ul>
              </div>
              <div class="food-recommendations-wrapper">
                <h2 class="subheading">Food Recommendations:</h2>
                <ul>
                  <li>Eat more fruits and vegetables</li>
                  <li>Choose whole grains over processed grains</li>
                  <li>Limit saturated and trans fats</li>
                  <li>Avoid added sugars</li>
                </ul>
              </div>
              <div class="nearby-doctors-wrapper">
                <h2 class="subheading">Nearby Hospitals:</h2>
                <!-- <ul id="doctor-list"></ul> -->
                <div class="card mt-4">
                    <div class="card-body">
                      <h3 class="card-title"><strong>SUM Ultimate Medicare</strong></h3>
                      <p>4.7 ⭐⭐⭐⭐ </p>
                      <p class="card-text"><img src="./assets/images/alternate-map-marker.svg" style="height: 2.5vh;"> &nbsp;Kalinga Nagar, Ghatikia, Bhubaneswar, Odisha 751003</p>
                      <p class="card-text">📞 06743500500</p>

                    </div>
                </div>
                <div class="card mt-4">
                  <div class="card-body">
                    <h3 class="card-title"><strong>IGKC Multispecialty Hospital</strong></h3>
                    <p>3.8 ⭐⭐⭐ </p>
                    <p class="card-text"><img src="./assets/images/alternate-map-marker.svg" style="height: 2.5vh;"> &nbsp;Plot No:- G1-43/1695, Ghatikia, KH-443, Kalinganagar, Bhubaneswar, Odisha 751003</p>
                    <p class="card-text">📞 06746600000</p>
                  </div>
                </div>
                <div class="card mt-4">
                  <div class="card-body">
                    <h3 class="card-title"><strong>UPHC Ghatikia</strong></h3>
                    <p>4.6 ⭐⭐⭐⭐</p>
                    <p class="card-text"><img src="./assets/images/alternate-map-marker.svg" style="height: 2.5vh;"> &nbsp;Infront of Jaydevbatika, Khandagiri, Bhubaneswar, Odisha 751030</p>
                    <!-- <p class="card-text">📞 06746600000</p> -->
                  </div>
                </div>
                <div class="card mt-4">
                  <div class="card-body">
                    <h3 class="card-title"><strong>AMRI Hospitals Bhubaneswar</strong></h3>
                    <p>4.4 ⭐⭐⭐⭐</p>
                    <p class="card-text"><img src="./assets/images/alternate-map-marker.svg" style="height: 2.5vh;"> &nbsp;Plot No. 1, Near Jayadev Vatika Park, Khandagiri, Bhubaneswar, Odisha 751019</p>
                    <p class="card-text">📞 06746666600</p>
                  </div>
                </div>
      
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>